* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eee;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

canvas {
	border: 1.5px solid #ccc;
	border-radius: 5px;
}
